@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Container{
    width: 40%;
    display: flex;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
}


.erro {
    color: red;
}

.Container h2{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: #0f0049;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs{
    font-family: "Roboto", sans-serif;
    color: #7d8592;
    width: 45%;
}

.forms input{
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f4f4f4;
    transition: border-color 0.2s ease;
}

.forms input:focus{
    outline: none;
    border-color: #49a9f8;
}

.forms button{
    width: 20%;
    background-color: #49a9f8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.forms p{
    color: #49A9F8;
    font-size: 16px;
}

.roptions{
    display: flex;
}